<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9de7ded6-0ad3-43e6-87b8-17d93e3ff695/resourceGroups/fabrikam-demo1rg/providers/Microsoft.Web/sites/fabrikam-demo1</ResourceId>
    <ResourceGroup>fabrikam-demo1rg</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fabrikam-demo1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fabrikam-demo1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fabrikam-demo1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fabrikam-demo1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FabrikamFiber-DataWarehouse" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:fabrikamxyz.database.windows.net,1433;Initial Catalog=FabrikamlSQL;User ID=AiUser@fabrikamxyz;Password=Caelum#01;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FabrikamFiber-DataWarehouse_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:fabrikamxyz.database.windows.net,1433;Database=FabrikamlSQL;User ID=AiUser@fabrikamxyz;Password=Caelum#01;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FabrikamFiber-Express" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:fabrikamxyz.database.windows.net,1433;Initial Catalog=FabrikamlSQL;User ID=AiUser@fabrikamxyz;Password=Caelum#01;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FabrikamFiber-Express_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:fabrikamxyz.database.windows.net,1433;Database=FabrikamlSQL;User ID=AiUser@fabrikamxyz;Password=Caelum#01;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FabrikamStorage" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=fabrikamexemplify;AccountKey=XdKv4jh2oV7BbxV88lFZ65sr3Sf1L1mL4t4y32IVurghRMV8kPwksg6yEggrQpo3o2ivfi0+uHBYjHy8F8RFhw==;EndpointSuffix=core.windows.net" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FabrikamStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=fabrikamexemplify;AccountKey=XdKv4jh2oV7BbxV88lFZ65sr3Sf1L1mL4t4y32IVurghRMV8kPwksg6yEggrQpo3o2ivfi0+uHBYjHy8F8RFhw==;EndpointSuffix=core.windows.net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FabrikamFiber-DataWarehouse-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FabrikamFiber-Express-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FabrikamStorage-Web.config Connection String" />
  </ItemGroup>
</Project>